*{
    box-sizing: border-box;
}

body{
    background-color: rgb(183, 45, 45);
    color: white;
}

.title-box{
    background: rgb(248, 203, 0);
    padding: 1px;
    border: 20px double rgb(0, 0, 0);
    margin: 20px 450px;
}

.title{
    color: white;
    text-align: center;
    background-color: rgba(236, 197, 2, 0.993);
    padding: 20px;
    margin: 20px;
    border: 20px double rgba(255, 255, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-button{
    background: rgb(150, 45, 45);
    width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 20px double black;
}

.button-link{
    width: 900px;
    height: auto;
    display: block;
    padding: 10px;
    margin-inline: auto;
    margin-block: 30px;
}

#lasanha.button-link{
    background-color: rgb(206, 9, 65);
    border: 15px double;
    text-wrap-mode: nowrap;
}
#bife.button-link{
    background-color: rgb(122, 8, 8);
    border: 15px double;
    text-wrap-mode: nowrap;
}
#salad.button-link{
    background-color: rgba(143, 238, 0, 0.918);
    border: 15px double;
    text-wrap-mode: nowrap;
}

.link-recipe{
    margin: auto;
    width: auto;
    height: auto;
}

button a{
    display: block;
    font-size: 24px;
    padding: 30px;
    margin: auto;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

img{
    background: yellow;
    display: block;
    border: 5px solid red;
    padding: 3px;
    margin: auto;
}
.autor-um.atribution {
    display: block;
    width: 370px;
    margin-left: auto;
}
.autor-dois.atribution {
    display: block;
    width: 411px;
    margin-left: auto;
}
.attr-link{
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.back-link{
    display: block;
    text-align: end;
    color: white;
}