*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: rgb(150, 0, 35);
    color: white;
}

.title-box{
    background: rgb(248, 203, 0);
    padding: 1px;
    border: 20px double rgb(0, 0, 0);
    width: 500px;
    margin: 40px auto;
}

.title{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(236, 197, 2, 0.479);
    padding: 20px;
    margin: 20px;
    border: 20px double rgba(255, 255, 0);
    text-wrap-mode: nowrap;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-button{
    background: rgb(145, 25, 45);
    width: 1000px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 20px double black;
}

.button-link{
    width: 900px;
    height: auto;
    display: block;
    padding: 10px;
    margin-inline: auto;
    margin-block: 30px;
}

#lasanha.button-link{
    background-color: rgb(206, 9, 65);
    border: 15px double;
    text-wrap-mode: nowrap;
}
#bife.button-link{
    background-color: rgb(122, 8, 8);
    border: 15px double;
    text-wrap-mode: nowrap;
}
#salad.button-link{
    background-color: rgba(143, 238, 0, 0.918);
    border: 15px double;
    text-wrap-mode: nowrap;
}

.link-recipe{
    margin: auto;
    width: auto;
    height: auto;
}

button a{
    display: block;
    font-size: 24px;
    padding: 30px;
    margin: auto;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

img{
    background: rgb(248, 203, 0);
    display: block;
    border: 5px solid red;
    padding: 3px;
    margin: auto;
    outline: aut;
}
.autor-atribution {
    width: 1000px;
    margin: auto;
    text-align: end;
    margin-bottom: 20px;

}
.attr-link{
    color: rgb(255, 255, 255);
    font-size: 14px;
}
.back-link{
    font-size: larger;
    display: block;
    text-align: end;
    color: white;
}
.description{
    outline: aut;
    width: 1200px;
    margin: auto;
    padding: 10px;
    padding-inline: 40px;
    background: rgba(236, 197, 2, 0.808);
    border: 20px double rgb(0, 0, 0);
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.layout-two-tables{
    width: auto;
    height: auto;
    margin: 60px;
    padding: 20px;
    background: rgb(150, 0, 35);
}
.ingredient-card{
    display: inline-block;
    background:rgb(0, 150, 0);
    border: 20px rgb(0, 0, 0) double;
    padding: 20px;
    margin: auto;
    height: 500px;
    width: 700px;
}
.how-to-card.lasanha-button-color{
    display: inline-block;
    background: rgb(206, 9, 65);
    border: 20px rgb(0, 0, 0) double;
    margin: auto;
    padding: 20px;
    height: 500px;
    width: 900px;
    margin-left: 80px;
}
.how-to-card.salada-button-color{
    display: inline-block;
    background: rgba(143, 238, 0, 0.918);
    border: 20px rgb(0, 0, 0) double;
    margin: auto;
    padding: 20px;
    height: 600px;
    width: 900px;
    margin-left: 80px;
}
.how-to-card.bife-button-color{
    display: inline-block;
    background: rgb(122, 8, 8);
    border: 20px rgb(0, 0, 0) double;
    margin: auto;
    padding: 20px;
    height: 500px;
    width: 900px;
    margin-left: 80px;
}
li{
    font-size: larger;
}
h2{
    text-align: center;
}